In [1]:
import pandas as pd

In [2]:
regSeaComRes = pd.read_csv("../data/MRegularSeasonCompactResults.csv")
Mteams = pd.read_csv("../data/MTeams.csv")
touDetdRes = pd.read_csv("../data/MNCAATourneyDetailedResults.csv")

In [3]:
teamsID = Mteams["TeamID"]

In [4]:
NAME_STATS_WINNER = ["WFGM","WFGA","WFGM3","WFGA3","WFTM","WFTM","WOR","WDR","WAst","WTO","WStl","WBlk","WPF"]
NAME_STATS_LOSSER = ["LFGM","LFGA","LFGM3","LFGA3","LFTM","LFTA","LOR","LDR","LAst","LTO","LStl","LBlk","LPF"]

In [7]:
equipo1gana2 = regSeaComRes.loc[(regSeaComRes["WTeamID"] == 1234) & (regSeaComRes["LTeamID"] == 1116)]

In [8]:
#promedio de estadisticas por equipo cuando gana
agg_dict_winner = {col: 'mean' for col in NAME_STATS_WINNER}
average_per_team = touDetdRes.groupby('WTeamID').agg(agg_dict_winner).reset_index()

In [9]:
average_per_team

,WTeamID,WFGM,WFGA,WFGM3,WFGA3,WFTM,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,1101,20.000000,67.000000,3.000000,18.000000,10.000000,13.000000,17.000000,9.000000,9.000000,11.000000,0.000000,15.000000
1,1104,27.769231,58.000000,10.000000,24.384615,17.769231,11.615385,23.692308,14.692308,11.153846,6.230769,5.000000,16.923077
2,1107,27.000000,47.000000,2.000000,9.000000,15.000000,6.000000,36.000000,12.000000,14.000000,3.000000,1.000000,13.000000
3,1112,28.769231,57.307692,6.769231,17.000000,16.384615,10.307692,26.538462,15.115385,11.653846,7.346154,4.846154,17.346154
4,1113,27.000000,50.500000,7.500000,15.250000,19.000000,5.750000,27.250000,15.750000,11.500000,5.250000,2.750000,17.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,1458,24.166667,53.066667,7.966667,20.866667,14.333333,9.666667,23.766667,12.400000,8.833333,4.366667,2.633333,15.233333
173,1459,26.000000,54.000000,13.000000,28.000000,19.000000,6.000000,20.000000,11.000000,9.000000,3.000000,4.000000,14.000000
174,1460,29.000000,61.000000,9.000000,21.000000,26.000000,12.000000,29.000000,19.000000,15.000000,6.000000,4.000000,20.000000
175,1462,25.739130,53.826087,7.739130,17.739130,17.521739,9.565217,27.043478,14.304348,10.739130,4.913043,3.565217,16.782609
176,1463,25.000000,50.500000,7.000000,18.000000,21.500000,6.500000,21.500000,12.000000,10.500000,6.500000,3.000000,18.000000

In [12]:
#enfrentamientos
results = []
for teamA in teamsID:
    if teamA == 1102:
        break
    for teamB in teamsID:
        if teamA != teamB: 
            equipo1gana2 = regSeaComRes.loc[(regSeaComRes["WTeamID"] == teamA) & (regSeaComRes["LTeamID"] == teamB)]
            
            if not equipo1gana2.empty:
                results.append(equipo1gana2)
final_dataframe = pd.concat(results, ignore_index=True)